body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", "serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

header {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}

p {
  color: var(--white);
}

.red {
  background-color: var(--red);
  width: 10px;
  height: 10px;
}

.info-panel {
  width: 65%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

article {
  border-style: solid;
  border-width: 1px;
  border-color: var(--gray_1);
  border-radius: 3%;
  padding: 10px;
}

a {
  text-decoration: none;
  margin: 0.5%;
}

article>h2 {
  color: var(--gray_2);
}

a:visited>article>h2 {
  color: var(--gray_1);
}

a:hover>article {
  border-color: var(--red);
}

a:hover>article>h2 {
  color: var(--red);
}